div{
    padding: 10px;
}

#test2{
    background-color: rgb(255, 0, 0);
    padding: 10px 0 10px 10px;
    color: white;
    margin: 0;
}

#output{
    border: 2px solid black;
    width: 200px;
    padding: 0 12px 0 0;
}

#cronometro{
    font-size: xx-large;
}

.sez_cron{
    padding: 20px;
    background-color: gainsboro;
    border-radius: 20px;
    box-shadow: 0 0 5px black;
    text-align: center;
    margin: 0 auto;
    max-width: 40rem;
}