body{
    max-width: 70%;
    margin: 1rem auto 1rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(216, 213, 238);
}

th{
    padding: 5px;
    background-color: rgb(178, 173, 245);
    border: 2px solid black;
    text-align: center;
}

td{
    padding: 5px;
    background-color: rgb(241, 240, 255);
    border: 2px solid black;
}

table{
    border: 2px solid black;
    margin: 0 auto 0;
    padding: 3px;
    border-radius: 5px;
}

h1{
    padding: 5px;
    background-color: rgb(106, 92, 232);
    color: white;
    text-align: center;
    border-radius: 5px;
    margin: 1rem auto 1rem;
    box-shadow: 0 0 5px black;
}

article, form{
    padding: 1px 10px 10px 10px;
    border-radius: 10px;
    box-shadow: 0 0 5px black;
    margin: 2rem auto 1rem;
    background-color: white;
}

article h3{
    background-color: rgb(106, 92, 232);
    color: white;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
    text-align: center;
}

article p{
    padding: 10px;
}

input{
    background-color: rgb(241, 240, 255);
    padding: 3px;
    border: 1px solid black;
}

#checkbox_zone{
    padding-bottom: 15px;
}